<h1>Listing Questions</h1>

<table>
<tr>
<td class="list_description">
1. What is ASP.NET AJAX?<br/>
2. What is the difference between synchronous postback and asynchronous postback?<br/>
3. What technologies are being used in AJAX?<br/>
4. Why do we use the XMLHttpRequest object in AJAX?<br/>
5. What is ORM in Rails?<br/>
6. What is Ruby Gems?<br/>
7. What is Gemfile and Gemfile.lock?<br/>
8. What is Active record?</br>
9. How you run your Rails application without creating databases?<br/>
10. What are the servers supported by ruby on rails?<br/>
11. What is the difference between a plugin and a gem?<br/>
12. What is the difference between form_for and form_tag<br/>
13. What is the use of super in Ruby Rails?<br/>
14. What is the use of load and require in ruby?<br/>
15. Explain the difference between nil and false in ruby.<br/>
<br>
<strong> For further clarifications, learn <a href="http://www.geekinterview.com/Interview-Questions/J2EE/Ruby">Ruby</a></strong>
</td>	   
</tr>
</table>
